body{color:#3c3c3c;font-size:15px;font-family: "Palatino","Georgia","Hiragino Mincho ProN","Microsoft YaHei","WenQuanYi Micro Hei",serif ;background:#f2f2f2;line-height:1.6em;}
h1, h2, h3, h4, h5, h6{font-size:1em;font-weight:normal;}

#container{max-width:800px;margin:0 auto;}
