{% extends "layout.html" %}
{% block head %}
<title>{{ post.title }} | LEO</title>
{% endblock %}
{% block body %}
<div id="container">
<h2>{{ post.title }}</h2>
<div>
{{ post.category.name}}
</div>
<div>
{{ post.pub_date }}
</div>
<div>
{{ post.body|safe }}
</div>
{% if session.logged_in %}
<form method="post">
<textarea name="content">{{ post.origin }}</textarea>
<input type="hidden" name="_method" value="put" />
<input type="submit" value="PUT" />
</form>
<form method="post">
<input type="hidden" name="_method" value="delete" />
<input type="submit" value="DELETE" />
</form>
{% endif %}
</div>
{% endblock %}
